link-workspace-packages = deep
auto-install-peers = true
# link-workspace-packages = true
# resolve-peers-from-workspace-root = true
# public-hoist-pattern[] = vite*
public-hoist-pattern[]=git-repo-info
public-hoist-pattern[]=supports-color
public-hoist-pattern[]=ip
public-hoist-pattern[]=tmp
public-hoist-pattern[]=got
public-hoist-pattern[]=csv-stringify*
public-hoist-pattern[]=form-data
public-hoist-pattern[]=param-case
public-hoist-pattern[]=lighthouse*
public-hoist-pattern[]=deepmerge-ts
public-hoist-pattern[]=is-glob
public-hoist-pattern[]=glob
public-hoist-pattern[]=diff
public-hoist-pattern[]=dateformat
public-hoist-pattern[]=object-inspect
public-hoist-pattern[]=strip-ansi
public-hoist-pattern[]=polka
public-hoist-pattern[]=morgan
public-hoist-pattern[]=json-stringify-safe
public-hoist-pattern[]=serialize-error
public-hoist-pattern[]=gitconfiglocal
public-hoist-pattern[]=vite-*
public-hoist-pattern[]=import-meta-resolve
public-hoist-pattern[]=mocha
